.border{
  height: 500px;
  width: 600px;
  margin: 6% auto;
  text-align: center;
  padding-top: 40px;
  background-color: #a3a3c2;
  border: 3px solid black ;
  border-radius: 8%;
}
.h1{
  color: #153448;
  background-color: #a3a3c2;
}
.bulb{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.button {
  border-radius: 4px;
  background-color: #31363F;
  border: none;
  color:  #EEEEEE;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 80px;
  margin-left: 10%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}